<div class="container mt-4">
<h1 class="mb-4">Your Activity</h1>

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-bs-toggle="tab" href="#trade" role="tab">
      Trade History (<%= @trade_history.count %>)
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#wallet" role="tab">
      Wallet Activity (<%= @wallet_logs.count %>)
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#all" role="tab">
      All Activity (<%= @trade_logs.count %>)
    </a>
  </li>
</ul>

<div class="tab-content mt-3">
  <div class="tab-pane fade show active" id="trade" role="tabpanel">
    <h5>Your buy and sell actions</h5>
    <%= render partial: "table", locals: { logs: @trade_history } %>
  </div>

  <div class="tab-pane fade" id="wallet" role="tabpanel">
    <h5>Deposits and withdrawals</h5>
    <%= render partial: "table", locals: { logs: @wallet_logs } %>
  </div>

  <div class="tab-pane fade" id="all" role="tabpanel">
    <h5>Complete transaction history</h5>
    <%= render partial: "table", locals: { logs: @trade_logs } %>
  </div>
</div>