<nav class="navbar navbar-expand-lg navbar-dark bg-primary px-3">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="#">
      <i class="bi bi-person-gear me-2"></i> PNM Admin
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#adminNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="adminNavbar">
      <!-- Left-side nav links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to admin_users_path, class: 'nav-link active' do %>
            <i class="bi bi-speedometer2 me-1"></i> Dashboard
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to all_users_admin_users_path, class: 'nav-link' do %>
            <i class="bi bi-people-fill me-1"></i> All Users
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to pending_approvals_admin_users_path, class: 'nav-link' do %>
            <i class="bi bi-person-check-fill me-1"></i> Pending Approvals
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_transactions_path, class: 'nav-link' do %>
            <i class="bi bi-cash-stack me-1"></i> Transactions
          <% end %>
        </li>
      </ul>

      <!-- Right-side user info and logout -->
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item me-3">
          <span class="navbar-text text-white">
            <i class="bi bi-person-circle me-1"></i> Admin User (<strong>Administrator</strong>)
          </span>
        </li>
        <li class="nav-item">
          <%= button_to destroy_user_session_path, method: :delete, class: 'nav-link text-white' do %>
            <i class="bi bi-box-arrow-right me-1"></i> Logout
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>