<h1>Admin Dashboard</h1>

<%= link_to "Create new user", new_admin_user_path %>

<h2>Pending Trader Approvals</h2>

<%= @users.count %>

<h2>Pending Broker Approvals</h2>

<%= @pending_brokers.count %>

<h2> All Traders Overview </h2>
<%= @allusers.where(role: ["trader", "broker"]).count %>



<%= button_to "Sign out", destroy_user_session_path, method: :delete %>
