<% if current_user.approved? %>
  <span class="badge badge-success">Trader Approved</span>
<% else %>
  <span class="badge badge-warning">Approval Pending</span>
<% end %>

<%= @user.username %> <br />
<%= @user.email %> <br />
<%= @user.approved? ? "Yes" : "No" %> <br />
<%= @user.approval_date %>

<%= link_to "Back", admin_users_path %>

